@font-face{
    font-family: 'Poppins';
    src: url(./Fonts/Poppins-Light.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

html {
    font-size: 1.3rem;
}

:root{
    --bg-color: #333333;
    --second-bg-color: #fffffff5;
    --start-btn-color: #16a708fb;
    --stop-btn-color: #ff0000;
    --reset-btn-color: #0000ff;
    --text-color: #fff;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--second-bg-color);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: var(--bg-color);
    box-shadow: 1px 4px 1px var(--bg-color);
    padding: 30px 60px;
    border-radius: 10px;
    color: var(--text-color);
    font-size: 28px;
}

.stop {
    background-color: var(--stop-btn-color);
    padding: 12px 24px;
    border: none;
    outline: none;
    font-size: 16px;
    color: var(--text-color);
    border-radius: 4px;
    cursor: pointer;
}
.start {
    background-color: var(--start-btn-color);
    padding: 12px 24px;
    border: none;
    outline: none;
    font-size: 16px;
    color: var(--text-color);
    border-radius: 4px;
    cursor: pointer;
}
.reset {
    background-color: var(--reset-btn-color);
    padding: 12px 24px;
    border: none;
    outline: none;
    font-size: 16px;
    color: var(--text-color);
    border-radius: 4px;
    cursor: pointer;
}

.buttons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

@media only screen and (max-width: 450px) {
    .container {
        padding: 6px 15px;
    }
    h1 {
        font-size: 22px;
    }

    .start, .stop, .reset {
        padding: 4px 12px;
        font-size: 12px;
    }
}